<div *ngIf="countryDetails$ | async as countryDetails">
  <div class="text-center mb-4 mt-4">
    <div class="custom-bg text-white py-2 px-4 rounded w-auto d-inline-block">
      <h1 class="mb-0">{{ countryDetails.country }}</h1>
    </div>
  </div>

  <div class="text-center mb-4">
    <div class="d-flex justify-content-center gap-3 flex-wrap" style="width: 100%;">
      <div class="card custom-border text-center">
        <div class="card-body">
          <h4 class="card-title text-muted">Number of Entries</h4>
          <h3 class="card-text font-weight-bold">{{ countryDetails.participations.length }}</h3>
        </div>
      </div>

      <div class="card custom-border text-center">
        <div class="card-body">
          <h4 class="card-title text-muted">Total Number of Medals</h4>
          <h3 class="card-text font-weight-bold">{{ countryDetails.totalMedalsCount }}</h3>
        </div>
      </div>

      <div class="card custom-border text-center">
        <div class="card-body">
          <h4 class="card-title text-muted">Total Number of Athletes</h4>
          <h3 class="card-text font-weight-bold">{{ countryDetails.totalAthletesCount }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="lineChartOptions" class="d-flex justify-content-center mt-4">
    <apx-chart
      [series]="lineChartOptions.series"
      [chart]="lineChartOptions.chart"
      [xaxis]="lineChartOptions.xaxis"
      [yaxis]="lineChartOptions.yaxis"
      [dataLabels]="lineChartOptions.dataLabels">
    </apx-chart>
  </div>
</div>

<div *ngIf="!(countryDetails$ | async)" class="text-center">
  <h1 class="mb-0">No details found for this country</h1>
</div>

<div class="text-center mt-4">
  <button [routerLink]="['']" class="btn custom-bg text-white">Back</button>
</div>
